@font-face {
  font-family: Farray;
  src: url('../fonts/Farray.otf');
}

@font-face {
  font-family: zrnic;
  src: url('../fonts/zrnic.ttf');
}

body {
  font-family: Farray;
  overflow-x: hidden;
}

nav {
  background: #ce9546;
}

hr {
  margin: 5px auto 20px auto;
}

.padding {
  padding-left: 15px;
}

/* Nav ---------------------- */
#name {
  font-size: 150%;
}

#name:hover {
  color:black;
}

#full-bar a:hover {
  color:black;
}

#collapsed-bar {
  display: none;
  margin-right: 5px;
}

#collapsed-bar a {
  font-size: 150%;
}

#collapsed-bar li {
  height: 56px;
}

#collapsed-bar:hover {
  cursor: pointer;
}

#collapsed-bar a:hover {
  color: black;
}

#collapsed-bar li:hover {
  background: #ce9546;
}

.drop-down {
  position: fixed;
  display: none;
  width: 182.6px;
  right: 5px;
  top: 56px;
  padding-top: 0px;
  height: auto;
  background: #ba863f;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drop-down hr {
  width: 60%;
}

.drop-down li {
  margin-bottom: 10px;
}

.drop-down a {
  color:white;
}

.drop-down a:hover {
  color: black;
}

/* --------------------------- */

/* PARALLAX 1 --------------- */

#parallax1 {
  height: 300px;
  font-family: Farray;
  margin: 0 auto;
}

#parallax1 h1, h4 {
  color: #d5d5d1;
  margin: 0 auto;
}

#parallax1 h1 {
  position: relative;
  left: -100px;
}

#parallax1 h4 {
  position: relative;
  left: 100px;
}

#parallax1-contents {
  margin: 0 auto;
  text-align: center;
}

/* --------------------------- */

/* PARALLAX 2 --------------- */

/* --------------------------- */



/* Projects ------------------ */

.space-sky h3 {
  color: #d5d5d1;
}
.space-sky {
  margin-bottom: 0px;
}

/* --------------------------- */



.parallax-container {
  height: auto;
  padding: 40px;
  margin: 0px;
}

/* CARDS --------------------- */

.card {
  font-family: arial;
  padding: 20px;
  background: rgba(226, 221, 215, 0.7);
  box-shadow: 5px 5px 5px black;
}

.card-title {
  font-family: Farray;
  text-shadow: 2px 2px white;
}

.card-content * {
  color: #31529d;
}

.card-title a {
  color: #31529d;
}

.card-image img {
  height: 206.6px;
}

/* --------------------------- */

.space-sky {
  padding-top: 64 px;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#000000, #000000, #02000e, #271e59, #4e4589, #7393c0, #aec9dc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000000, #000000, #02000e, #271e59, #4e4589, #7393c0, #aec9dc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000000, #000000, #02000e, #271e59, #4e4589, #7393c0, #aec9dc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000000, #000000, #02000e, #271e59, #4e4589, #7393c0, #aec9dc); /* Standard syntax */
}

.parallax-sub-container {
  background-color: rgba(84,110,122,0.75);
  /*border: 1px solid white;*/
  border-radius: 1%;
  /*font-weight: 200;*/
}

.aboutme-text {
  font-family: 'Roboto', sans-serif;
  /*text-shadow: 1px 1px 2px grey;*/
  padding: 10px;
}


.anchor {
  display: block;
  height: 64px; /*same height as header*/
  margin-top: -64px; /*same height as header*/
  visibility: hidden;
}
