@media (max-width: 853px) {
  #parallax1 h1, h4 {
    color: #d5d5d1;
    margin: 0 auto;
  }

  #parallax1 h1 {
    position: relative;
    left: 0px;
  }

  #parallax1 h4 {
    position: relative;
    left: 0px;
  }
}

@media (max-width: 794px) {
  .project {
    flex-direction: column;
  }
  .project-content {
    width: 100%;
    order: 1;
  }
  .project-image {
    width: 100%;
  }
}

@media (max-width: 641px) {
  #parallax1 h4 {
    position: relative;
    left: 0px;
  }
}

@media (max-width: 605px) {
  .aboutMe-img > img {
    width: 50%;
    float: none;
    margin: 0 auto;
    border-radius: 50%;
  }

  .aboutMe-img {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .anchor {
    height: 56px;
    margin-top: -56px;
  }
}

@media (max-width: 537px) {
  .header {
    text-align: center;
  }
}

@media (max-width: 502px) {
  .link:nth-child(even) {
    display: none;
  }

  .link:nth-child(odd) {
    margin: 0 20px;
    width: 20%;
  }

  .contact-links {
    justify-content: center;
  }
}

@media (max-width: 408px) {
  #project1-title {
    font-size: 175%;
  }
}

